*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
 background-image: url("background.png");
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.icon{
    color: rgb(102, 141, 212);
    font-size: medium;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.navbar{
    width: 200px;
 float: left;
 height: 70px;   
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 19px;
}
ul li a{
    text-decoration: none;
    color: orange;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
transition: 0.1s ;
}
ul li a:hover{
    border-bottom: solid 3px rgb(151, 69, 69);

}
.search{
    width: 330px;
    float: left;
    margin-left: 300px;
}
.srch{
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;
    height: 48px;
    background: transparent;
    border: 1px solid rgb(45, 86, 161);
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius :5px; 
    border-top-left-radius :5px; 
}
.btn{
    width:100px ;
    height: 40px;
    background: rgb(77, 126, 199);
    border: 2px solid rgb(84, 108, 187);
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: rgb(62, 100, 172);
    position: relative;
    float: left;

}
.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
letter-spacing: 1.2px;
line-height: 30px;
}
.content h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    padding-left:20px;
    margin-top: 9%;
    letter-spacing: 2px;
    color: rgb(68, 69, 163);
}
.content .cn{
    width: 160px;
    height: 40px;
    background: rgb(46, 89, 145);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}
.content .cn a{
    color: yellow;
    text-decoration:none ;
    transition: .3s ease;
    
}
.cn:hover{
    background-color: rgb(150, 84, 84);
    border-bottom: solid 3px yellow;
}
.content span{
    color: rgb(82, 100, 150);
    font-size: 60px;
}
.form{
    width: 250px;
    height: 380px;
    background-color: rgb(0, 153, 255);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(66, 66, 172);
    font-size: 22px;
    background-color:rgb(156, 152, 201);
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid rgb(3, 31, 5);
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.form input:focus{
    color: white;
    outline: none;
}
::placeholder{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btnn{
    width: 240px;
    height: 48px;
    background:  rgb(107, 88, 80);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.3s ease;
}
.btnn:hover{
    background: white;
    color: rgb(41, 34, 22);
    border-bottom: solid 3px red;

}
.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.form .link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
text-decoration: none;
color: rgb(83, 79, 57);
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align:center;
}
.icons{
    flex: auto;
    text-align: center;
    color: white;
    font-size: larger;
}

